#ta {
	background-image: url("/assets/img/ta-bg.png");
	background-position: 0px 4px;
	resize: none;
	border: none;
	box-shadow: none;
	margin-top: 5px;
}

@keyframes mymove {
	50% {box-shadow: 0 0 15px red;}
}
