body {
	background: linear-gradient(
		190deg, #d1e5e7 0%, #6a9fa8 30%, #205a66 100%
	);
	background-attachment: fixed;
	background-size: cover;
}

.login-card {
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.error-text {
    color: #dc3545;
}

.container {
	max-width: 1000px;
}

.note-text-area {
	background-image: url("/assets/img/ta-bg.png");
	background-position: 0px 5px;
	background-size: 100% 30px;
	resize: none;
	border: none !important;
	box-shadow: none !important;
	margin-top: 5px;
}
