body {
	background-image: url(/assets/img/bg3.svg);
	background-attachment: fixed;
	background-size: cover;
}

.container {
	max-width: 800px;
	position: relative;
	padding: 0;
}

#logo {
	height: 60px;
	float: left;
}

#account {
	float: right;
}

.cuadro {
	border-radius: 4px;
	border: 2px solid #66A5AD;
	padding: 10px;
	background-color: white;
	margin-bottom: 10px;
}

.outside {
	color: white;
}

.clearman {
	clear: both;
}

.error {
	color: #FF0000;
}

.margintop {
	margin-top: 5px;
}

.modal-content {
	background-color: #55959c;
	padding: 8px 0px 0px 0px;
	border-radius: 5px;
}

.modal-header, .modal-body {
	color: white;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
	background-color: rgba(256,256,256,0.2);
}
